In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv("data/vibeking.csv")

In [21]:
df.head()

          owner_name     follower  following  post_number
0  Muhammad Schaefer  108751787.0       45.0         61.0
1          Ezra Kemp  172731383.0       71.0         43.0
2           Eli Good  105194939.0       20.0         44.0
3   Lillianna Pruitt   14807976.0       11.0         88.0
4    Carlie Woodward  228517005.0       68.0         52.0

In [22]:
brass_df = df[df.following<11].copy()
brass_df

        owner_name     follower  following  post_number
55  Dexter Salazar  265575683.0       10.0         54.0
71     Eden Walter   50414607.0       10.0         82.0

In [23]:
copper_df = df[df.post_number>df.following].copy()
copper_df

            owner_name     follower  following  post_number
0    Muhammad Schaefer  108751787.0       45.0         61.0
2             Eli Good  105194939.0       20.0         44.0
3     Lillianna Pruitt   14807976.0       11.0         88.0
6      Abbey Patterson  117816608.0       65.0         98.0
8        Teagan Newman  145440825.0       39.0         85.0
9     Bianca Velazquez  184433225.0       72.0         91.0
10         Emely Olsen  197123487.0       43.0         58.0
12       Ivan Randolph  233996265.0       31.0         45.0
13      Priscilla Shea   23888252.0       69.0         72.0
14         Ryan Berger  107802883.0       85.0         91.0
16      Kira Castaneda  246047852.0       12.0         63.0
17   Kadence Henderson   77927317.0       53.0         57.0
18      Timothy Fowler  224887843.0       50.0         73.0
19      Precious Ramos   48236154.0       34.0         76.0
24     Charles Morales  222955873.0       12.0         38.0
27    Hailee Armstrong  313687859.0       55.0         94.0
29     Gabriel Calhoun  132769603.0       16.0         58.0
39      Harper Hensley  224837846.0       57.0         59.0
40         Alexia Moss  314936599.0       17.0         48.0
41        Boston Stout  293331811.0       13.0         56.0
43        Khalil Bryan  279582669.0       48.0         84.0
44      Jakobe Schultz  136273816.0       34.0         82.0
47       Zachery Keith   34037577.0       47.0         49.0
49  Yasmine Hutchinson  181380421.0       13.0         98.0
50        Marlee Moyer  224912384.0       36.0         95.0
52        Mylie Prince  172675476.0       18.0         43.0
54    Esmeralda Henson  240302137.0       65.0         96.0
55      Dexter Salazar  265575683.0       10.0         54.0
56         Jamie Oneal  252094671.0       12.0         41.0
59        Corey Hansen   10389852.0       28.0         63.0
62      Lilah Whitaker   95378667.0       31.0         49.0
64       Britney James  161446658.0       41.0         93.0
71         Eden Walter   50414607.0       10.0         82.0
78          Kian Hanna   79265883.0       21.0         24.0
79      Claire Salinas  239596097.0       49.0         66.0
81          Harper Day  151388804.0       34.0         59.0
82         Hope Becker   68662078.0       28.0         83.0
86       Nasir Mcgrath  107737269.0       12.0         99.0
87       Blaine Greene   17519059.0       83.0         88.0
88        Janet Knight  137375221.0       18.0         26.0
89        Lana Hensley  151213150.0       49.0         80.0
90     Destiney Orozco  250085334.0       61.0         72.0
92      Leslie Salinas  276001851.0       65.0         89.0
94      Reyna Copeland  214443881.0       44.0         89.0
99          Ezra Booth  296470673.0       49.0         89.0

In [24]:
bronze_df = df[df.follower>1000000].copy()
bronze_df

           owner_name     follower  following  post_number
0   Muhammad Schaefer  108751787.0       45.0         61.0
1           Ezra Kemp  172731383.0       71.0         43.0
2            Eli Good  105194939.0       20.0         44.0
3    Lillianna Pruitt   14807976.0       11.0         88.0
4     Carlie Woodward  228517005.0       68.0         52.0
..                ...          ...        ...          ...
95      Alaina Cortez  206571647.0       83.0         82.0
96         Aiyana Orr  246069137.0       85.0         44.0
97        Damien Mack  175172516.0       84.0         58.0
98    Santino Shelton  103682240.0       86.0         71.0
99         Ezra Booth  296470673.0       49.0         89.0

[100 rows x 4 columns]

In [25]:
silver_df = df[(df.follower>=10000000) & (df.following<50)].copy()
silver_df

            owner_name     follower  following  post_number
0    Muhammad Schaefer  108751787.0       45.0         61.0
2             Eli Good  105194939.0       20.0         44.0
3     Lillianna Pruitt   14807976.0       11.0         88.0
8        Teagan Newman  145440825.0       39.0         85.0
10         Emely Olsen  197123487.0       43.0         58.0
12       Ivan Randolph  233996265.0       31.0         45.0
16      Kira Castaneda  246047852.0       12.0         63.0
19      Precious Ramos   48236154.0       34.0         76.0
24     Charles Morales  222955873.0       12.0         38.0
29     Gabriel Calhoun  132769603.0       16.0         58.0
31          Ivy Fields  234324677.0       49.0         22.0
32        Jaime Stuart   71774373.0       48.0         44.0
36     Demarion Suarez   63641416.0       12.0         11.0
40         Alexia Moss  314936599.0       17.0         48.0
41        Boston Stout  293331811.0       13.0         56.0
42    Chasity Cisneros  303490848.0       48.0         36.0
43        Khalil Bryan  279582669.0       48.0         84.0
44      Jakobe Schultz  136273816.0       34.0         82.0
47       Zachery Keith   34037577.0       47.0         49.0
49  Yasmine Hutchinson  181380421.0       13.0         98.0
50        Marlee Moyer  224912384.0       36.0         95.0
52        Mylie Prince  172675476.0       18.0         43.0
53         Raven Stone   82717282.0       48.0         16.0
55      Dexter Salazar  265575683.0       10.0         54.0
56         Jamie Oneal  252094671.0       12.0         41.0
59        Corey Hansen   10389852.0       28.0         63.0
60     Audrina Nichols  319228713.0       41.0         15.0
62      Lilah Whitaker   95378667.0       31.0         49.0
64       Britney James  161446658.0       41.0         93.0
71         Eden Walter   50414607.0       10.0         82.0
78          Kian Hanna   79265883.0       21.0         24.0
79      Claire Salinas  239596097.0       49.0         66.0
81          Harper Day  151388804.0       34.0         59.0
82         Hope Becker   68662078.0       28.0         83.0
83      Cameron Murphy  281439342.0       22.0         17.0
86       Nasir Mcgrath  107737269.0       12.0         99.0
88        Janet Knight  137375221.0       18.0         26.0
89        Lana Hensley  151213150.0       49.0         80.0
94      Reyna Copeland  214443881.0       44.0         89.0
99          Ezra Booth  296470673.0       49.0         89.0

In [26]:
golden_df = df[((df.follower>10000000) & (df.following<20)) | ((df.post_number<15) & (df.owner_name.str.contains("R")))].copy()
golden_df

            owner_name     follower  following  post_number
3     Lillianna Pruitt   14807976.0       11.0         88.0
15          Hayden Roy  248522613.0       79.0         11.0
16      Kira Castaneda  246047852.0       12.0         63.0
24     Charles Morales  222955873.0       12.0         38.0
29     Gabriel Calhoun  132769603.0       16.0         58.0
36     Demarion Suarez   63641416.0       12.0         11.0
40         Alexia Moss  314936599.0       17.0         48.0
41        Boston Stout  293331811.0       13.0         56.0
49  Yasmine Hutchinson  181380421.0       13.0         98.0
52        Mylie Prince  172675476.0       18.0         43.0
55      Dexter Salazar  265575683.0       10.0         54.0
56         Jamie Oneal  252094671.0       12.0         41.0
71         Eden Walter   50414607.0       10.0         82.0
86       Nasir Mcgrath  107737269.0       12.0         99.0
88        Janet Knight  137375221.0       18.0         26.0