In [6]:
import pandas as pd 
import numpy as np

In [7]:
df = pd.read_csv("yektanet.csv")
df.tail()

,keywords,segments,visit count
219614,"['نتایج زنده', 'نتایج', 'زنده']","['maleSegment', 'varzeshi']",641
219615,"['زیرنویس', 'فارسی فیلم', 'دانلود زیرنویس']",['femaleSegment'],355
219616,"['سامان', 'ساعت']",['femaleSegment'],40
219617,"['چشم', 'تنظیم', 'رنگ', 'نرم']",['technology'],523
219618,"['خارجی', 'قوی', 'ایرانی خارجی', 'ایرانی']",['femaleSegment'],906

In [8]:
filtered_df = df.groupby('keywords').filter(lambda x: len(x) > 1400)
filtered_df

,keywords,segments,visit count
1,"['نتایج زنده', 'نتایج', 'زنده']",['maleSegment'],822
3,"['نتایج زنده', 'نتایج', 'زنده']",['maleSegment'],307
4,"['نتایج زنده', 'نتایج', 'زنده']",['maleSegment'],778
10,"['نتایج زنده', 'نتایج', 'زنده']","['maleSegment', 'varzeshi']",418
16,"['نتایج زنده', 'نتایج', 'زنده']",['maleSegment'],324
...,...,...,...
219597,"['صفحه اخبار', 'صفحه', 'اخبار']",['maleSegment'],669
219601,"['نتایج زنده', 'نتایج', 'زنده']",['maleSegment'],742
219608,"['نتایج زنده', 'نتایج', 'زنده']","['salamat', 'laghari']",472
219612,"['نتایج زنده', 'نتایج', 'زنده']",['maleSegment'],460
219614,"['نتایج زنده', 'نتایج', 'زنده']","['maleSegment', 'varzeshi']",641

In [9]:
filtered_df['popularity']  = filtered_df.groupby('keywords')['visit count'].transform(lambda x : (x / x.sum())*100)
filtered_df

,keywords,segments,visit count,popularity
1,"['نتایج زنده', 'نتایج', 'زنده']",['maleSegment'],822,0.016966
3,"['نتایج زنده', 'نتایج', 'زنده']",['maleSegment'],307,0.006337
4,"['نتایج زنده', 'نتایج', 'زنده']",['maleSegment'],778,0.016058
10,"['نتایج زنده', 'نتایج', 'زنده']","['maleSegment', 'varzeshi']",418,0.008628
16,"['نتایج زنده', 'نتایج', 'زنده']",['maleSegment'],324,0.006687
...,...,...,...,...
219597,"['صفحه اخبار', 'صفحه', 'اخبار']",['maleSegment'],669,0.014774
219601,"['نتایج زنده', 'نتایج', 'زنده']",['maleSegment'],742,0.015315
219608,"['نتایج زنده', 'نتایج', 'زنده']","['salamat', 'laghari']",472,0.009742
219612,"['نتایج زنده', 'نتایج', 'زنده']",['maleSegment'],460,0.009494
219614,"['نتایج زنده', 'نتایج', 'زنده']","['maleSegment', 'varzeshi']",641,0.013230